<%- include("partials/header.ejs") %>

<div class="container">
  <div class="text-center mt-5">
    <h1>Edit Review</h1>
  </div>
  <form autocomplete="off" action="/editsave" method="post">
    <div class="row">
      <div class="col-lg-7 mx-auto">
        <div class="add-card mt-2 mx-auto p-4">
          <div class="card-body">
            <div class="container">
              <form id="contact-form" role="form">
                <div class="controls">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="form_name">Game Name</label>
                        <input
                          id="form_name"
                          type="text"
                          name="name"
                          value="<%= item.name %>"
                          class="form-control"
                          required="required"
                          data-error="Please add the name of the game."
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="form_lastname">Platform</label>
                        <input
                          id="form_lastname"
                          type="text"
                          name="platform"
                          value="<%= item.platform %>"
                          class="form-control"
                          required="required"
                          data-error="Please specify the platform."
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="form_email">Achievements</label>
                        <input
                          id="form_email"
                          type="text"
                          name="achievements"
                          value="<%= item.achievement %>"
                          class="form-control"
                          required="required"
                          data-error="Please add your achievement count."
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="form_need">Rating</label>
                        <select
                          id="form_need"
                          name="rating"
                          class="form-control"
                          required="required"
                          data-error="Please rate the game."
                        >
                          <option <%= item.rating==1? "selected" : null %> value="1">1</option>
                          <option <%= item.rating==2? "selected" : null %> value="2">2</option>
                          <option <%= item.rating==3? "selected" : null %> value="3">3</option>
                          <option <%= item.rating==4? "selected" : null %> value="4">4</option>
                          <option <%= item.rating==5? "selected" : null %> value="5">5</option>
                          <option <%= item.rating==6? "selected" : null %> value="6">6</option>
                          <option <%= item.rating==7? "selected" : null %> value="7">7</option>
                          <option <%= item.rating==8? "selected" : null %> value="8">8</option>
                          <option <%= item.rating==9? "selected" : null %> value="9">9</option>
                          <option <%= item.rating==10? "selected" : null %> value="10">10</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="form_name">Image URL</label>
                        <input
                          id="form_name"
                          type="text"
                          name="imgurl"
                          value="<%= item.imgurl %>"
                          class="form-control"
                          required="required"
                          data-error="Please add an image."
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="form_lastname">Image Popup URL</label>
                        <input
                          id="form_lastname"
                          type="text"
                          name="imgpopurl"
                          value="<%= item.imgpopurl %>"
                          class="form-control"
                          required="required"
                          data-error="Please add an image."
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group text-center my-3 ">
                        <img src="<%= item.imgurl %>" height="300px"/>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group text-center my-3 ">
                        <img src="<%= item.imgpopurl %>" height="300px"/>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="form_message">Review</label>
                        <textarea
                          id="form_message"
                          name="review"
                          class="form-control"
                          rows="12"
                          required="required"
                          data-error="Please, leave a review."
                        ><%= item.review %></textarea>
                      </div>
                    </div>
                    <input type="hidden" id="itemid" name="id" value=<%= item.id %>>
                    <input type="hidden" id="userid" name="user_uid" value=<%= item.user_uid %>>
                    <div class="col-md-12">
                      <button
                        type="submit"
                        name="submit"
                        class="btn btn-success btn-send pt-2 mt-2 btn-block"
                        value="Save"
                      >Save</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- /.8 -->
      </div>
      <!-- /.row-->
    </div>
  </form>
</div>

<%- include("partials/footer.ejs") %>
