<%- include("partials/header.ejs") %>
<div class="login-body">
  <div class="login">
    <h1><%= signupon? "Signup" : "Login" %></h1>
    <form action=<%= signupon? "/signup" : "/login" %> method="POST">
      <div class="username">
        <div class="sec-2">
          <ion-icon name="mail-outline"></ion-icon>
          <input type="text" name="username" placeholder="Username" />
        </div>
      </div>
      <div class="password">
        <input
          class="pas"
          type="password"
          name="password"
          placeholder="Password"
        />
      </div>
      <% if(signupon){ %>

      <div class="password">
        <input
          class="pas"
          type="password"
          name="confirmpassword"
          placeholder="Confirm password"
        />
      </div>

      <%} %>
      <button class="loginButton"><%= signupon? "Signup" : "Login" %></button>
    </form>
    <div class="signup">
      <span><a href="/signup">Signup</a></span
      ><span>Forgot Password?</span>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>
