<%- include("partials/header.ejs") %>

<div class="modal modal-sheet position-static d-block  p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2"><%= signupon? "Sign up" : "Login" %></h1>
        
      </div>

      <div class="modal-body p-5 pt-0">
        <form action=<%= signupon? "/signup" : "/login" %> method="POST" class="">
          <% if((wrongCredentials=="userexist")&&(signupon==true)){ %>
            <label style="color: red">User already exists!</label>
            <%} %>
          <div class="form-floating mb-3">
            <input name="username" type="email" class="form-control rounded-3" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input name="password" type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
          <% if((wrongCredentials=="wrongpass")&&(signupon==false)){ %>
            <label style="color: red">Wrong credentials!</label>
          <%} %>
          <% if((wrongCredentials=="missmatchpass")&&(signupon==true)){ %>
            <label style="color: red">Password doesn't match!</label>
          <%} %>

          <% if(signupon){ %>
          <div class="form-floating mb-3">
            <input name="confirmpassword" type="password" class="form-control rounded-3" id="floatingConfirmPassword" placeholder="Password">
            <label for="floatingPassword">Confirm password</label>
          </div>
          <%} %>
          <button style="background:#393E46; color:#EEEEEE" class="w-100 mb-2 btn btn-lg rounded-3" type="submit"><%= signupon? "Sign up" : "Login" %></button>
          <% if(!signupon){ %>
          <small class="text-body-secondary"><a href="/signup">Sign up here</a></small>
          <%} %>
        </form>
      </div>
    </div>
  </div>
</div>



<%- include("partials/footer.ejs") %>
